@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

@font-face {
  font-family: "Archangelsk";
  src: url("/fonts/Archangelsk.ttf");
}
body {
  font-family: Roboto;
}

.title {
  font-weight: 400;
  font-family: Archangelsk;
  font-size: 62px;
}

.wrapper {
  height: 100vh;
  position: relative;
}

.header {
  background: center/cover url(/img/background/header.jpg) no-repeat;
  height: 100vh;
  margin-bottom: 70px;
}
.header__line {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__contact-item {
  margin-right: 40px;
  padding-top: 22px;
}

.platform {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 624px;
  padding: 70px;
  background: center url(/img/background/yellow.png) no-repeat;
  background-size: 100% 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.platform__title {
  letter-spacing: 0em;
  margin-bottom: 25px;
}
.platform__btn {
  display: inline-block;
  padding: 19px 50px;
  background: #000;
  color: #f8f200;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 700;
}

.subtitle {
  line-height: 34px;
  font-family: Roboto;
  font-size: 18px;
}

.info {
  margin-bottom: 70px;
}
.info__title {
  margin-bottom: 25px;
}
.info__subtitle {
  padding-right: 328px;
  margin-bottom: 70px;
}
.info__subtitle span {
  color: #52bedc;
  font-weight: 700;
}
.info__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__images-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__images-left img {
  -webkit-clip-path: polygon(13% 0, 100% 0, 100% 69%, 86% 100%, 0 100%, 0 28%);
  clip-path: polygon(13% 0, 100% 0, 100% 69%, 86% 100%, 0 100%, 0 28%);
}
.info__images-right {
  -webkit-clip-path: polygon(8% 0, 100% 0, 100% 83%, 91% 100%, 0 100%, 0 15%);
  clip-path: polygon(8% 0, 100% 0, 100% 83%, 91% 100%, 0 100%, 0 15%);
}

.gradient {
  background: url(/img/background/gradient.png);
  height: 70px;
}

.promotion {
  padding-top: 15px;
  background: #000;
  color: #fff;
}
.promotion__title {
  padding-left: 164px;
  padding-top: 70px;
  margin-bottom: 39px;
  background: url(/img/promt/promt.svg) no-repeat;
}
.promotion__subtitle {
  padding-right: 328px;
  margin-bottom: 25px;
}
.promotion__subtitle span {
  color: #52bedc;
  font-weight: 700;
}
.promotion__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 70px;
}
.promotion__form-input {
  padding-top: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.promotion__form-name, .promotion__form-email {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  width: 460px;
  height: 35px;
  border: none;
  background-color: #000;
  border-bottom: #777777 1px solid;
  margin-bottom: 35px;
}
.promotion__form-name:focus, .promotion__form-email:focus {
  outline: none;
  border-bottom: #fff 1px solid;
}
.promotion__form-scren {
  width: 460px;
  height: 120px;
  border: #777777 1px dashed;
  margin-bottom: 35px;
}
.promotion__form-btn {
  max-width: 192px;
  padding: 19px 50px;
  border: none;
  background: #f8f200;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  margin-bottom: 15px;
}
.promotion__form-checkbox label input {
  display: none;
}
.promotion__form-checkbox label span {
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  border: 1px solid gray;
  background-color: #000;
  border-radius: 2px;
}
.promotion__form-checkbox label input[type=checkbox]:checked + span:before {
  content: "✔";
  position: absolute;
  top: 1px;
  left: 2px;
  font-size: 13px;
  color: #f8f200;
}

.gradient-yellow {
  height: 70px;
  background: url(/img/background/gradient-yellow.png);
}

.partner {
  padding-top: 70px;
  background: #f8f200;
  padding-bottom: 70px;
}
.partner__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.partner__images {
  margin-right: 32px;
}
.partner__images img:first-child {
  margin-bottom: 26px;
}
.partner__images img:last-child {
  display: block;
  margin: 0 auto;
}
.partner__title {
  margin-bottom: 25px;
}
.partner__subtitle {
  margin-bottom: 25px;
}
.partner__list {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.partner__item {
  padding-bottom: 15px;
  padding-left: 42px;
}
.partner__item:first-child {
  padding-top: 10px;
  background: url(/img/partner/paint.svg) no-repeat;
  background-position: 1px 8px;
}
.partner__item:nth-child(2) {
  padding-top: 10px;
  background: url(/img/partner/star.svg) no-repeat;
  background-position: 0px 8px;
  background-size: 30px 30px cover;
}
.partner__item:last-child {
  padding-top: 10px;
  background: url(/img/partner/cube.svg) no-repeat;
  background-position: 0px 8px;
  margin-bottom: 25px;
}
.partner__btn {
  padding: 19px 50px;
  background: #000;
  color: #f8f200;
  text-decoration: none;
  display: inline-block;
}

.buy {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.buy__images {
  background: url(/img/buy/back-disk.jpg) no-repeat;
  width: 50%;
  background-size: cover;
}
.buy__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.buy__block {
  padding-top: 70px;
  width: 628px;
  margin-left: 32px;
}
.buy__title {
  color: #fff;
  margin-bottom: 25px;
}
.buy__subtitle {
  color: #52bedc;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  margin-bottom: 15px;
}
.buy__list {
  margin-bottom: 70px;
}
.buy__item {
  padding-left: 37px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.buy__item:first-child {
  background: url(/img/buy/disk.svg) no-repeat;
  background-position: left;
  background-size: 27px;
}
.buy__item:nth-child(2) {
  background: url(/img/buy/note.svg) no-repeat;
  background-position: left;
  background-size: 27px;
}
.buy__item:last-child {
  background: url(/img/buy/stack.svg) no-repeat;
  background-position: left;
  background-size: 27px;
}
.buy__platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: spaced-aroun;
      -ms-flex-pack: spaced-aroun;
          justify-content: spaced-aroun;
  margin-right: 305px;
  margin-top: 25px;
}
.buy__platform div {
  width: 50%;
  margin-bottom: 55px;
}

.footer__top {
  background: #fff;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0 15px;
}
.footer__logo img:first-child {
  margin-right: 32px;
}
.footer__police {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__police a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.footer__police a:first-child {
  margin-right: 32px;
}
.footer__bottom {
  background-color: #000;
  text-align: center;
}
.footer__copy {
  color: #fff;
  padding: 13px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}